body {
    background-image: url("./images/Screen\ Shot\ 2020-05-04\ at\ 9.39.45\ AM.png");
    font-family: 'Assistant', sans-serif;
}

tr {
 background-color: #fff!important;
}

thead {
    border-radius: 25px!important;
}

form {
    padding: 10px;
    background-color: #fff!important;
    border-radius: 10px;
}

.leftThead{
    border-radius: 10px 0 0 0;
}

.rightThead{
    border-radius: 0 10px 0 0;
}